
.customDiv{
    margin:3px;
    min-height:500px;
    background-color:silver;
    text-align:left;
}

.customDiv2{
    margin:3px;
    min-height:460px;
    background-color:silver;
    text-align:left;
}

.col-md-8 {
	padding-top:60px;

}

.col-md-4 {
	padding-top:60px;
}

p {
	margin:15px;
}

h2 {
	padding-top:15px;
	margin:15px;
}

#vismain {
	width:200px;
	height: 200px;
	margin:15px;
}

.col {
	margin:15px; 
	width:150px;
	height: 150px;
	display: block;
}

.col2 {
	margin:15px; 
	width:150px;
	height: 150px;
	display: block;
}
