

body {
	background-color: #ececec;
}
.navbar {

}
.navbar-brand {
	color:white;
	background:#4aaaa5;
	padding-left:10px;
	padding-right:10px;
	font-size:30px;
	font-family: Georgia;
	font-weight: bold;
	margin-left: 10px;
}


/*.container-fluid {
	width:100%;
	height:100%;
}
*/
}

.container {
	width:100%;
	height:100%;
	background: #ececec;
}

.customDiv{
    background:#fff;
    text-align:left;
    color: #2f4f4f;
    overflow: hidden;
}

.customDiv2{
    height:auto;
    background:#fff;
    text-align:left;
    overflow: hidden;
}

.col-md-12 {
	padding-top:40px;

}

.col-md-4 {
	padding-top:40px;

}

.row {
	width:100%;
	clear:both;
	padding: 0px;
	margin:0px;
}


p {
	margin:25px;
	padding:10px;
}

h2 {
	padding-left:10px;
	padding-top:30px;
	padding-bottom:30px;
	margin:15px;
	color:#4aaaa5;
	border-bottom: 2px solid ;
	border-bottom-color: #F0F0F0;
	font-family: Georgia;
	font-weight: bold;
}

h3 {
	padding-left:10px;
	padding-top:30px;
	padding-bottom:30px;
	margin:15px;
	color:#4aaaa5;
	border-bottom: 2px solid ;
	border-bottom-color: #F0F0F0;
	font-family: Georgia;
	font-weight: bold;
}

#vis1:hover, #vis1:active {
	border:2px solid;
	border-color: #4aaaa5;
}
#vis2:hover, #vis2:active {
	border:2px solid;
	border-color: #4aaaa5;
}
#vis3:hover, #vis3:active {
	border:2px solid;
	border-color: #4aaaa5;
}
#vis4:hover, #vis4:active {
	border:2px solid;
	border-color: #4aaaa5;
}

.active{
	border:2px solid;
	border-color: #4aaaa5;
}

